
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/img/road.jpg" alt="road">
                <div class="carousel-caption">
                    <h3>GEL GİT</h3>
                    <p>Üniversite öğrencileri için geliştirilmiş Yolcu veya Yolculuk bulma sitesi</p>
                    <p>
                        GelGit Üniversiteye Servisle, Otobüsle veya Arabasıyla giden
                        öğrencilerin ortak olarak kullanabileceği yolcu bulma veya bir yolculuğa
                        misafir olma projesidir.
                    <p />
                </div>
            </div>

            <div class="item">
                <img src="~/img/hftf.jpg" alt="hftf">
                <div class="carousel-caption">
                    <p> Celal Bayar Üniversitesi</p>
                    <p>  - Mücahit Toktaş - </p>
                    <p> iletişim : mwidget@windowslive.com</p>
                </div>
            </div>

            <

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



        <div class="container">
            <div class="row text-center" style="margin-top:60px">
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <img src="~/img/human.png" alt="Paris">
                        <p><strong>İstediğin Yolculuğu Seç</strong></p>
                        <p>Yolculuklara göz at, sana en uygun yolculuğa kaydol. </p>

                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <img src="~/img/shield.png" alt="New York">
                        <p><strong>Güvenli Yolculuk</strong></p>
                        <p>Yolculuk arkadaşların okulundan</p>

                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <img src="~/img/cheap.png" alt="San Francisco">
                        <p><strong>Uygun Fiyata Ulaşım</strong></p>
                        <p>Okula gitmediğin günlerin parasını ödemene gerek yok</p>

                    </div>
                </div>

                    <div class="col-xs-3">
                        <div class="thumbnail">
                            <img src="~/img/clock.png" alt="San Francisco">
                            <p><strong>Zamandan kazan</strong></p>
                            <p>Otobüs veya servis beklemek zorunda değilsin, her zaman bir alternatif seçeneğin var</p>

                        </div>
                    </div>
                
            </div>
        </div>











        <div class="container">
            <h3 class="text-center"> GELGİT kullanmanın avantajları</h3>

           
                <br />
                <strong>
                    Okuluna otobüsle gidip gelenler, aynı yönden - aynı fakülteye kendi aracıyla
                    gidip gelen öğrencilerin araçlarına, yakıt masrafına ortak olarak
                    misafir olabilir.
                </strong>
                <br />
            <br />
                <strong>
                    Ulaşımını servis ile sağlayan öğrencilerin Servis Saatleri ile ilgili problem
                    yaşamaları durumunda alternatif bir çözümdür.
                </strong>
                <br />
            <br />
                <strong>
                    Özel aracıyla okula gidip gelen öğrenciler araçlarına, yakıt masraflarına ortak olacak
                    yolcular bulabilirler.
                </strong>


            <br />
            <br />
            <br />







        </div>

        

